<footer id="not-log"> 
    <span>&copy; Copyright 2020</span>
    <span>Thank you to all the mentors that supported us / BIG SHOUT OUT TO
        Karl Chvojka & Vasiliy Klimkin For not giving up on us!
    </span>

</footer>
