<!--font awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<header id='user_header'>
  <% if (!user.username) { %>
  <div class="yourname">
    Welcome To QuizMe
  </div>
  <ul class="nav nav-pills" id="when-logout">
    <li class="home-item">
      <a href="/"><button type="button" id="home-btn" class="btn btn-primary btn-lg"><i class="fas fa-home"></i></button></a>
    </li>
    <li class="login-item">
      <a href="/login"><button type="button" id="login-btn" class="btn btn-primary btn-lg">Login</button></a>
    </li>
    <li class="register-item">
      <a class="register-btn" href="/register"><button type="button"
          class="btn btn-secondary btn-lg">Register</button></a>
    </li>
    </ul>
    
    <% } else { %>

    <div class="yourname">
      Welcome <%= user.username %> !
    </div>
    <ul class="nav nav-pills" id="when-login">
      <li class="home-item">
        <a href="/"><button type="button" id="user-home-btn" class="btn btn-primary btn-lg"><i class="fas fa-home"></i></button></a>
      </li>
      <li class="my-quiz">
        <a href="/myQuiz"><button type="button" id="myquiz-btn" class="btn btn-primary btn-lg">My Quizzes</button></a>
      </li>
      <li class="create-quiz">
        <a href="/createQuiz"><button type="button" id="createquiz-btn" class="btn btn-primary btn-lg">Create Quiz</button></a>
      </li>
      <li class="logout-item">
        <form method="POST" action="/logout"><button type="submit" id="logout-btn" class="btn btn-secondary btn-lg">Logout</button></form>
      </li>
    </ul>
    <% } %>

</header>
