<header id='user_header'>
  <div class="yourname">
    Welcome To QuizMe
  </div>

  <ul class="nav nav-pills">
    <li class="login-item">
      <a href="#"><button type="button" id="login-btn" class="btn btn-primary btn-lg">Login</button></a>
    </li>
    <li class="register-item">
      <a class="register-btn" href="#"><button type="button" class="btn btn-secondary btn-lg">Register</button></a>
    </li>
  </ul>

</header>