<%- include('partials/_doc') %>

<title>Quiz Attempt</title>


<body id="main-body">
  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <main id="main_container">
    <div id="question-container"></div>
  </main>

  
</body>



</html>