<%- include('partials/_doc') %>

<body id="main-body">
  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <main id="main_container">

    <div class="container">
      <form class="create_quiz" action="/createQuiz" method="POST">
        <div class="form-group">
          <label for="questionArea">Your Question Here</label>
          <textarea name="question1" class="form-control" id="inputQuestion" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="InputAnswer1">Answer 1</label>
          <input type="text" name="q1Answer1" class="form-control" id="InputAnswer1">
        </div>
        <div class="form-group">
          <label for="InputAnswer2">Answer 2</label>
          <input type="text" name="q1Answer2" class="form-control" id="InputAnswer2">
        </div>
        <div class="form-group">
          <label for="InputAnswer3">Answer 3</label>
          <input type="text" name="q1Aanswer3" class="form-control" id="InputAnswer3">
        </div>
        <div class="form-group">
          <label for="InputAnswer4">Answer 4</label>
          <input type="text" name="q1Answer4" class="form-control" id="InputAnswer4">
        </div>
        <label for="quantity">Correct Answer (between 1 and 4):</label>
        <input type="number" id="quantity" name="q1Result" min="1" max="4">

        <div class="form-group">
          <label for="questionArea">Your Question Here</label>
          <textarea name="question2" class="form-control" id="inputQuestion" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="InputAnswer1">Answer 1</label>
          <input type="text" name="q2Answer1" class="form-control" id="InputAnswer1">
        </div>
        <div class="form-group">
          <label for="InputAnswer2">Answer 2</label>
          <input type="text" name="q2Answer2" class="form-control" id="InputAnswer2">
        </div>
        <div class="form-group">
          <label for="InputAnswer3">Answer 3</label>
          <input type="text" name="q2Aanswer3" class="form-control" id="InputAnswer3">
        </div>
        <div class="form-group">
          <label for="InputAnswer4">Answer 4</label>
          <input type="text" name="q2Answer4" class="form-control" id="InputAnswer4">
        </div>
        <label for="quantity">Correct Answer (between 1 and 4):</label>
        <input type="number" id="quantity" name="q2Result" min="1" max="4">

        <div class="form-group">
          <label for="questionArea">Your Question Here</label>
          <textarea name="question3" class="form-control" id="inputQuestion" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="InputAnswer1">Answer 1</label>
          <input type="text" name="q3Answer1" class="form-control" id="InputAnswer1">
        </div>
        <div class="form-group">
          <label for="InputAnswer2">Answer 2</label>
          <input type="text" name="q3Answer2" class="form-control" id="InputAnswer2">
        </div>
        <div class="form-group">
          <label for="InputAnswer3">Answer 3</label>
          <input type="text" name="q3Aanswer3" class="form-control" id="InputAnswer3">
        </div>
        <div class="form-group">
          <label for="InputAnswer4">Answer 4</label>
          <input type="text" name="q3Answer4" class="form-control" id="InputAnswer4">
        </div>
        <label for="quantity">Correct Answer (between 1 and 4):</label>
        <input type="number" id="quantity" name="q3Result" min="1" max="4">

        <div class="form-group">
          <label for="questionArea">Your Question Here</label>
          <textarea name="question4" class="form-control" id="inputQuestion" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="InputAnswer1">Answer 1</label>
          <input type="text" name="q4Answer1" class="form-control" id="InputAnswer1">
        </div>
        <div class="form-group">
          <label for="InputAnswer2">Answer 2</label>
          <input type="text" name="q4Answer2" class="form-control" id="InputAnswer2">
        </div>
        <div class="form-group">
          <label for="InputAnswer3">Answer 3</label>
          <input type="text" name="q4Aanswer3" class="form-control" id="InputAnswer3">
        </div>
        <div class="form-group">
          <label for="InputAnswer4">Answer 4</label>
          <input type="text" name="q4Answer4" class="form-control" id="InputAnswer4">
        </div>
        <label for="quantity">Correct Answer (between 1 and 4):</label>
        <input type="number" id="quantity" name="q4Result" min="1" max="4">

        <button type="submit" class="btn btn-primary" id="create-btn">ADD QUESTION</button>
        <!-- can make this a check box to make it a private quiz -->
        <input type="checkbox" name="checkbox" id="myCheck">MAKE IT PRIVATE!</input>

      </form>
    </div>

    <div id="question-container"></div>


  </main>

  <%- include('partials/_footer2') %>

</body>

</html>
