<%- include('partials/_doc') %>

<body id="main-body">
  <%- include('partials/_header') %>
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <main id="main_container">
    <div id="question-container"></div>
  </main>

  <%- include('partials/_footer') %>

</body>

</html>