<%- include('partials/_doc') %>

<title>Your Results</title>

<body id="main-body">
  <!-- Top nav bar (fixed) -->
  <div class="spacer">
    &nbsp;
  </div>

  <main id="main_container">
  </main>

  <%- include('partials/_footer') %>

</body>

</html>
