// See: https://sass-lang.com/

@import 'config';

body#main-body{

  h1 {
    color: #244751;
  }

}

header {
  padding: 1rem;
  // background-color: #874600;
  // background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  // background-color: #7a5100;
  background-color: #1d0042;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
  // background-image: url("/docs/question.png");
  // border: 5px solid #7a5100;
  border: 10px solid #6d6a75;
  // border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;

  div.yourname{
    align-self: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    // font-family: 'Raleway', sans-serif;
    font-size: 60px;
    // font-weight: bold;
    height: auto;
    margin-top: 70px;
    width: auto;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color:white;

  }

  button#login-btn{
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 35px;
  }

  button#home-btn{
    margin-left: 30px;
    margin-right: 10px;
  }

  button#user-home-btn{
    margin-left: 30px;
    margin-right: 10px;
  }

  button#logout-btn{
    position: absolute;
    right: 20px;
  }

  button#myquiz-btn{
    margin-right: 20px;
  }

}

.spacer
{
    width: 100%;
    height: 300px;
}

main {
  background: $secondary-color;
  background-image: url("/docs/yellow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  padding-bottom: 20rem;
  width: 100%;

  .main-section{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
  }

  button#create-btn{
    margin-left: 30px;

  }

  div#question-container{
    left: 10rem;
    margin-top: 100px;
    position: absolute;

    div#quiz-box{
      margin-bottom: 5rem;
    }

    div.choice-container {
      display: flex;
      font-size: 1.5rem;
      height: 100%;
      margin-bottom: 0.5rem;
      width: 100%;
    }

    .choice-container:hover {
      cursor: pointer;
      box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
      transform: translateY(-0.1rem);
      transition: transform 150ms;
    }

    .choice-prefix {
      margin-bottom: 0px;
      background-color: black;
      border-radius: 10px;
      color: white;
      margin-bottom: 0px;
      padding: 1.5rem 2.5rem;
    }

    .choice-text {
      padding: 1rem;

    }

  }

}

footer {
  background-color:#6d6a75;
  bottom: 0rem;
  display: flex;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  // font-size: 30px;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;

footer#not-log {
  right: 1rem;
  text-align: right;
}

footer#iAm-log {
  left: 1rem;
  padding: 1rem;
}
  section.log-copy{
    position: absolute;
    right: 1.5rem;
  }

}
